@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter18pt-Light.eot');
    src: url('../fonts/Inter/Inter18pt-Light.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/Inter/Inter18pt-Light.woff2') format('woff2'),
        url('../fonts/Inter/Inter18pt-Light.woff') format('woff'),
        url('../fonts/Inter/Inter18pt-Light.ttf') format('truetype'),
        url('../fonts/Inter/Inter18pt-Light.svg#Inter18pt-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter18pt-Medium.eot');
    src: url('../fonts/Inter/Inter18pt-Medium.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/Inter/Inter18pt-Medium.woff2') format('woff2'),
        url('../fonts/Inter/Inter18pt-Medium.woff') format('woff'),
        url('../fonts/Inter/Inter18pt-Medium.ttf') format('truetype'),
        url('../fonts/Inter/Inter18pt-Medium.svg#Inter18pt-Medium')
            format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter18pt-Regular.eot');
    src: url('../fonts/Inter/Inter18pt-Regular.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/Inter/Inter18pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter/Inter18pt-Regular.woff') format('woff'),
        url('../fonts/Inter/Inter18pt-Regular.ttf') format('truetype'),
        url('../fonts/Inter/Inter18pt-Regular.svg#Inter18pt-Regular')
            format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter18pt-SemiBold.eot');
    src: url('../fonts/Inter/Inter18pt-SemiBold.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/Inter/Inter18pt-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter/Inter18pt-SemiBold.woff') format('woff'),
        url('../fonts/Inter/Inter18pt-SemiBold.ttf') format('truetype'),
        url('../fonts/Inter/Inter18pt-SemiBold.svg#Inter18pt-SemiBold')
            format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter24pt-Bold.eot');
    src: url('../fonts/Inter/Inter24pt-Bold.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/Inter/Inter24pt-Bold.woff2') format('woff2'),
        url('../fonts/Inter/Inter24pt-Bold.woff') format('woff'),
        url('../fonts/Inter/Inter24pt-Bold.ttf') format('truetype'),
        url('../fonts/Inter/Inter24pt-Bold.svg#Inter24pt-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif/NotoSerif-Bold.eot');
    src: url('../fonts/NotoSerif/NotoSerif-Bold.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/NotoSerif/NotoSerif-Bold.woff2') format('woff2'),
        url('../fonts/NotoSerif/NotoSerif-Bold.woff') format('woff'),
        url('../fonts/NotoSerif/NotoSerif-Bold.ttf') format('truetype'),
        url('../fonts/NotoSerif/NotoSerif-Bold.svg#NotoSerif-Bold')
            format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif/NotoSerif-SemiBold.eot');
    src: url('../fonts/NotoSerif/NotoSerif-SemiBold.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/NotoSerif/NotoSerif-SemiBold.woff2') format('woff2'),
        url('../fonts/NotoSerif/NotoSerif-SemiBold.woff') format('woff'),
        url('../fonts/NotoSerif/NotoSerif-SemiBold.ttf') format('truetype'),
        url('../fonts/NotoSerif/NotoSerif-SemiBold.svg#NotoSerif-SemiBold')
            format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
